<div class="container"> 
  <h1 class="title has-text-centered mt-1 mb-1">Posts</h1><br>
</div>

<div class="container">
  <% @posts.each do |post| %>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title title"><%= post.title %></p>
      </header>
      <p class="subtitle ml-4 mt-1">
        <% if user_signed_in?%>
          By: <%= post.user.name %>
          <% else %>
          By: Anonymous
        <% end %>
      </p>
    <div class="card-content">
      <%= post.body %>
    </div>
    <div class="card-footer">
      <% if current_user == post.user%>
        <td><%= link_to 'Show', post, class: "mr-1 ml-1 mt-1 mb-1 button is-small is-info" %></td>
        <td><%= link_to 'Edit', edit_post_path(post), class: "mr-1 ml-1 mt-1 mb-1 button is-small is-info" %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "mr-1 ml-1 mt-1 mb-1 button is-small is-info" %></td>
      <% end %>
    </div>
    </div><br>
  <% end %>
</div>

  <%
=begin%>
 <tbody>
      <tr class="mt-2">
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <% if user_signed_in? %>
          <td><%= post.user.name %></td>
        <% else %>
        <td> Anonymous </td>
        <% end %>
        <% if current_user == post.user%>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br> 
<%
=end%>

<%= link_to 'New Post', new_post_path, class: "button is-info has-text-white" %>
