<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar has-background-info pb-1" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to "Members-Only", posts_path, class: "navbar-item mt-1 has-text-white" %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Home", posts_path, class: "navbar-item button is-info mt-2 has-text-white" %>
        </div>

        <div class="navbar-end">
          <% if user_signed_in? %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "navbar-item button mt-2 mr-3 is-info has-text-white" %>
          <% else %>
            <%= link_to  "Sign-Up", "/users/sign_up", class: "navbar-item button is-primary mr-2 mt-2 has-text-white is-info" %>
            <%= link_to  "Log-In", new_user_session_path, class: "navbar-item button is-primary mr-2 mt-2 has-text-white is-info" %>
          <% end %>
        </div>
      </div>
    </nav> 
    <% if flash[:notice] %>
  		<div class="notification is-primary">
        <button class="delete"></button>
        <p class="notice"><%= notice %></p>
  		</div>
  	<% end %>
  	<% if flash[:alert] %>
  		<div class="notification is-danger global-notification">
  			<p class="alert"><%= alert %></p>
  		</div>
  	<% end %>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        $notification = $delete.parentNode;
        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
    </script>         
    <%= yield %>
  </body>
</html>
